<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Game List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title"><p class="title">Game List</p></div>

<div class="game-preview-container" th:each="gameInfo : ${paginationGames.list}">
    <ul class="iconblock-3">
        <li class="icon"><img
                 th:src="@{|/gameImage?code=${gameInfo[0].code}|}" /></li>
        <li>Code: <span th:utext="${gameInfo[0].code}"></span></li>
        <li>Name: <span th:utext="${gameInfo[0].name}"></span></li>
        <li>Price: <span th:utext="${#numbers.formatDecimal(gameInfo[0].price,3,2,'COMMA')}"></span></li>
        <li>
            <a th:href="@{|/buyGame?code=${gameInfo[0].code}|}">Buy Now</a>
        </li>
        <!-- For Manager edit Product -->
        <th:block sec:authorize="hasAnyRole('ADMIN', 'MODER')">
            <li>
                <a style="color:dodgerblue;"
                   th:href="@{|/admin/game?code=${gameInfo[0].code}|}">Edit Game</a>
            </li>
        </th:block>
    </ul>
</div>

<br/>
<div class="page-navigator" th:if="${paginationGames.totalPages > 1}">
    <th:block th:each="page : ${paginationGames.navigationPages}">

        <a th:href="@{|/gameList?page=${page}|}" th:if="${page != -1}"
           class="nav-item" th:utext="${page}"></a>

        <span class="nav-item" th:if="${page == -1}"> ... </span>

    </th:block>
</div>

<th:block th:include="/_footer"></th:block>

</body>
</html>