<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Try2CopyIt</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title">Buy Demo</div>
<div class="demo-container">
    <h3>Content</h3>
    <ul>
        <li>Buy online</li>
        <li>admin</li>
        <li>ticket</li>
    </ul>
</div>

<th:block th:include="/_footer"></th:block>

</body>
</html>