<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title"><p class="title">Login (For User, Admin)</p></div>

<div class="login-container">
    <h3>Enter username and password</h3>
    <br>
    <!-- /login?error=true -->
    <th:block>
        <div th:if="${message!=null}"
             style="color: red; margin: 10px 0px;">
            Login Failed!!!<br/> Reason :
            <div  class="errorMessage">
                <span th:text="${message}"></span>
            </div>
        </div>
    </th:block>

    <form method="POST"  th:action="@{/admin/login}" th:object="${userForm}">
        <table>
            <tr>
                <td>User Name *</td>
                <td><input name="userName" th:field="*{username}"/></td>
                <td>
                    <span class="error-message" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">..</span>
                </td>
            </tr>
            <tr>
                <td>Password *</td>
                <td><input type="password" name="password" th:field="*{password}"/></td>
                <td>
                    <span class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">..</span>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Login" />
                    <input type="reset"  value="Reset" />
                </td>
            </tr>
        </table>
    </form>

</div>

<div style="text-align:left">
    <h3>User/Password:</h3>
    <ul>
        <li>user1/123</li>
        <li>moder1/123</li>
        <li>admin1/123</li>
    </ul>
</div>

<th:block th:include="/_footer"></th:block>

</body>
</html>